<div class="container">
  <div class="page-header">
    <h1>Create Discussion Topic</h1>
    <h5><span class="label label-danger">Complete the information to create this discussion </span></h5>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
  <div style="padding-top: 20px;">
    <%= link_to 'Back', campaigns_path, class: 'btn btn-primary'%>
  </div>
</div>