<div class="container">
  <div class="page-header">
    <h1>Edit Novice</h1>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
  <div style="padding-top: 20px;">
    <%= link_to 'Back', users_path, class: 'btn btn-primary'%>
  </div>
</div>